body {
    background: #c0c6dc;
    margin: 0;
}
.wrapper {
border-radius: 40px;
width: 1200px;
background-color: aliceblue;
margin: 27px auto;
display: flex;
padding: 13px 18px;
gap: 60px;

}
.top-btn{
    border-radius: 16px;
    padding: 14px 16px;
    width: 290px;
    height: 28px;
background: #7549ea;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
color:#fff;
display:flex;
align-items: center;
justify-content: center;
  
}
.bot-btn{
    border-radius: 16px;
    padding: 14px 16px;
    width: 290px;
    height: 28px;
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
color: #7549ea;
display:flex;
align-items: center;
justify-content: center;
border: 1px solid #7549ea;
}
    .interests {
        display: flex;
        flex-wrap: wrap;
        width: 290px;
        height: 195px;
        gap: 10px;
        color: #7549ea;
    }


.tag {
    background: rgba(117, 73, 234, 0.2);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
}
